<div style="
        color: #443c3c;

        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

    "
>
    <h1><%= @article.title %></h1>
    <p><%= @article.body %></p>

    <%= link_to 'Back', articles_path, :style => "
        margin-top: 1rem;
        color: black;
        background-color: #8b7e7e;
        font-size: 1rem;
        font-family: Rubik, sans-serif;
        padding: 5px;
        border: 2px solid #606062;
        cursor: pointer;
      " %>
</div>
